body {
    background: rgba(236, 240, 236, 0.74);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.container {
    padding: 20px;
}

.form-group {
    padding: 4px;
}



