@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* a:hover {
    background-color: rgba(232, 243, 243, 0.863);
} */


#logo {
    position: fixed;
    z-index: 50;
    margin-left: 50px;
    top: 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#menu-button {
    position: fixed;
    display: block;
    right: 20px;
    z-index: 100;
    top: 15px;
    width: 72px;
    height: 72px;
}

hr { 
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 23px;
    margin-right: 23px;
    border-width: 1.8px;
    background-color: black;
}

#line {
    margin-left: 30px;
}

#line3 {
    margin-right: 30px;
}






