* {
    padding: 0px;
    margin: 0px;
}

body {
    background: rgba(236, 240, 236, 0.74);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.card {
    background: rgba(255, 255, 255, 0.959);
    color: #1b1407fd;
    margin-bottom: 20px;
    float: left;
    margin-right: 50px;
    margin-left: 50px;
  }

  .one {
      margin-left: 40px;
  }
