* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.leftside , .rightside {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width:768px)
{
    .leftside , .rightside {
        height: 100vh;
    }
}

.leftside {
    background-color:#75837f;
    color: darkkhaki;
}

.rightside {
    background-color:#8a9996;
    color: #121E1C;
}


